.main-sidebar{
    display: inline-block;
    background-color: #15273f;
    margin-top: 0;
    width: 300px;
   
}
.sidebar-menu{
    margin-top: 0;
    width: 300px;
    padding-right: 0px;
    padding-left: 0px;
}
.sidebar{
    margin-top: 30px;
    float: left;
    width: 300px;
}
.treeview{
    padding: 15px;
    float: left;
    display: block;
    width: 300px;
}
.treeview > a{
    float:left;
    padding-left: 10%
}