.content-wrapper {
    text-align: center;
    display: grid;
    grid-template: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px/ 100px 50px 50px 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr 1fr ;
    background-color: whitesmoke;
    height:100vh;
    width:100%;
}

.tabs {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4;
    overflow: visible;
}

.bar-graph {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 9;
}

.calendar {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 6;
}