.wrapper {
    background-color: #15273f;
    position: relative;
    overflow: hidden!important;
    min-height: 100%;
}

.content-wrapper {
    background-color: #dde2ec; 
    background: linear-gradient(white 80%,#cce0f1);
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    min-height: 912px;
}

.content-header {
    background: #f0f4fa;
    box-shadow: 3px 0 5px #ccd9e9;
    position: fixed;
    width: 100%;
    top: 70px;
    z-index: 8;
}

.margintop-20 {
    margin-top: -20px;
}

section {
    display: block;
}

.content-header > h1 {
    color: #1a304d;
}

h1 {
    font-family: Calibri!important;
    line-height: 1.1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content-header>.breadcrumb {
    float: right;
    background: 0 0;
    font-size: 12px;
    position: fixed;
    top: 61px;
    right: 16px;
    border-radius: 2px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
}

.my-row {
    padding: 127px 885px 40px 885px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

h5 {
    text-align: center;
    color: #8c7171;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: underline;
}

.pto-bal-total {
    color: #5cb15c;
}