.App1 {
  text-align: center;
  display: grid;
  grid-template: 55px auto 30px/ 300px 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr 1fr ;
  background-color: whitesmoke;
  height:100vh;
  width:100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.App-sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.App-layout {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
}

.Login-page {
  top: 30%;
  right: 30%;
}