body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* #root {
  text-align: center;
  display: grid;
  grid-template: 100px 50px 50px 100px 100px 100px 100px 100px 100px 100px 100px / 200px 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr 1fr ;
  background-color: whitesmoke;
  height:100vh;
  width:100%;
} */
