.Tabs {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100vh;
}

.margin1-class {
    margin: 0% 2% 2% 10%;
    padding-top: 5%;
}

#lefTabsExample {
    margin-top: 3%;
}
